body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f4f4f4;
  }
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  .profile-img {
    width: 200px;
    height: auto;
  }
footer {
    background-color: rgb(135, 206, 206);
    padding: 20px;
}
h1 {
    margin-top: 10px;
  }
  .bio, .projects {
    margin-bottom: 20px;
  }
  a {
    color: blue;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  .profile-img {
    border-radius: 50%;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.5);
  }
  p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 1em;
  }
  